<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>186673725150-mcvptb931p7o2jftek0ht524brulctkk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.186673725150-mcvptb931p7o2jftek0ht524brulctkk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>186673725150-huemtd1i9epi0nd6db6rqu5fnll6hor1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAu-d5zWmqEFObkPn7NIl7UJAkRBkaWhq4</string>
	<key>GCM_SENDER_ID</key>
	<string>186673725150</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterFlipCard</string>
	<key>PROJECT_ID</key>
	<string>flutter-flip-card</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-flip-card.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186673725150:ios:6b90d3b0b019afb3f30c4f</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-flip-card.firebaseio.com</string>
</dict>
</plist>